.graph5 {
   stroke: #E0E0E0;
   stroke-width:.1;
}

.graph10 {
   stroke:#C8C8C8;
   stroke-width:.1;
}

.graphBkg {
   fill:#F0F0FF;
   stroke:"gray";
   stroke-width:.1;
}

.lightLine {
   stroke: #E0E0E0;
   stroke-width: .01;
}

.heavyLine {
   stroke:#C8C8C8;
   stroke-width: .02;
}

.obstacle {
   stroke: black;
   stroke-width:.02;
   fill:#a0a0ffc0;
}

.goodCircle {
   fill:#80FF8040;
   stroke: #80ff80fd;
   stroke-width: .2
}

.badCircle {
   fill:#FF808040;
   stroke:#ff8080f6;
   stroke-width:.1;
}

.openCircle {
   fill:#80808040;
}

.URText, .ULText, .LRText, .LLText {
   font-size:1.8px;
}

.text, .rhsText {
   font-size:.13px;
}

.rhsText {
   text-anchor:end;
}

.ULText {
   alignment-baseline:hanging;
}

.URText {
   alignment-baseline:hanging;
   text-anchor:end;
}

.LLText {
   alignment-baseline:ideographic;
}

.LRText {
   alignment-baseline:ideographic;
   text-anchor:end;
}

.modal-container {
   color: white;
   width: fit-content;
   padding: 0;
}

.circle-title {
   padding-top: 30px;
   font-size: 2rem;
   font-weight: bold;
}

.row-test {
   display: flex;
   justify-content: space-evenly;
   width: fit-content;
}