.graph5 {
   stroke: #E0E0E0;
   stroke-width:.1;
}

.graph10 {
   stroke:#C8C8C8;
   stroke-width:.1;
}

.graphBkg {
   fill:#F0F0FF;
   stroke:"gray";
   stroke-width:.1;
}

.platform {
   stroke: black;
   stroke-width:.1;
   fill:#A0A0FF;
}

.startingPosition {
   fill:black;
}

.hitPlatform {
  stroke: #00000040;
  stroke-width:.1;
  fill:#A0A0FF10;
}

.ball {
   stroke: black;
   stroke-width:.1;
}

.red {
  fill:#F00;
  color:#F00;
}

.green {
   fill:#0F0;
   color:#0F0;
}

.orange {
   fill:#FF8C00;
   color:#FF8C00;
}

.purple {
   fill:#F0F;
   color:#F0F;
}

.cyan {
   fill:#0FF;
   color:#0FF;
}

.faded {
  opacity:.20;
}

.invisible {
  visibility: hidden;
}

.text, .rhsText {
   font-size:1.8px;
}

.rhsText {
   text-anchor:end;
}

.controlButton {
  padding: 5px;
}

table {
  width: 50%;
  margin-left: 10%;
}

table, th, tr  {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
    padding: 9px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
