.graph5 {
   stroke: #E0E0E0;
   stroke-width:.1;
}

.graph10 {
   stroke:#C8C8C8;
   stroke-width:.1;
}

.graphBkg {
   fill:#F0F0FF;
   stroke:"gray";
   stroke-width:.1;
}

.obstacle {
   stroke: black;
   stroke-width:.1;
   fill:#A0A0FF;
}

.goodCircle {
   fill:#80FF8040;
}

.badCircle {
   fill:#FF808040;
}

.openCircle {
   fill:#80808040;
}

.URText, .ULText, .LRText, .LLText {
   font-size:1.8px;
}

.text, .rhsText {
   font-size:.13px;
}

.rhsText {
   text-anchor:end;
}

.ULText {
   alignment-baseline:hanging;
}

.URText {
   alignment-baseline:hanging;
   text-anchor:end;
}

.LLText {
   alignment-baseline:ideographic;
}

.LRText {
   alignment-baseline:ideographic;
   text-anchor:end;
}
