.cmpHeader {
  font-size: 30px;
  text-align: center;
}

.cmpSubHeader {
  text-align: center;
}

.cmpPanel {
  background-color: lightgrey;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
}

.cmpItem {
  color: black !important;
  font-size: large
}

.grid {
  all: unset;
  display: grid;
  grid-gap: 5vh 3vw;
  border-width: 5px;
  margin: 20px 0;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: start;
  width: 100%;
}

.scoreLabel {
  padding: 5px;
}

.cmpDescription {
  margin: 5px;
}

.cmpDescription-header {
  background-color: lightgrey;
  border-radius: 1px;
  font-size: 20pt;
  padding: 4px;
  text-align: center;
}

.instructionLink {
  text-align: right;
  font-size: 14pt;
  color: rgb(0, 110, 255);
  margin: 5px;
  cursor: pointer;
}

.cmpDescription-body {
  padding: 5px;
}

.rightButton {
  margin: 5px;
  float: right;
}
