.cmpHeader {
  font-size: 30px;
  text-align: center;
}

.scoreLabel {
  padding: 5px;
}

.cmpDescription {
  margin: 5px;
}

.cmpDescription-body {
  padding: 5px;
}

.cmpDescription-header {
  background-color: lightgrey;
  border-radius: 1px;
  font-size: 15pt;
  padding: 4px;
  text-align: center;
}

.instructionLink {
  text-align: right;
  margin: 5px;
}

.rightButton {
  margin: 5px;
  float: right;
}
