.graphBkg {
   fill:#F0F0FF;
   stroke:"gray";
}

.lightLine {
   stroke: #E0E0E0;
   stroke-width: .01;
}

.heavyLine {
   stroke:#C8C8C8;
   stroke-width: .02;
}

.ball {
   stroke: black;
   stroke-width:.01;
   fill:#8080F0;
}

.outerBlock {
   fill: #445;
}

.innerBlock {
   fill: slategray;
}

.gate {
  stroke: red
  ;
  stroke-width:.01;
  fill: black;
}

.label {
   font-size: .09px;
   text-anchor: middle;
}

.text {
   font-size:.12px;
}

.faded {
   opacity:.20;
}